<div class="">
  <h1>Objects</h1>
  {{#if objects}}
    <div class="mb-3">
      <a href="/object/add" type="button" class="btn btn-info">Crear New Object</a>
    </div>
    <div>
       <table class="table text-center">
          <thead>
              <tr class="table-dark">
                  <th scope="col" class="col-4">Name</th>
                  <th scope="col">API_Name</th>
                  <th scope="col">Plural Name</th>
                  <th scope="col">Acciones</th>
              </tr>
          </thead>
          <tbody>
              {{#each objects}}
                  <tr>
                      <td>
                        <a href="/field/list/{{id}}">{{Name}}</a>
                      </td>
                      <td>{{API_Name}}</td>
                      <td>{{Plural_Name}}</td>
                      <td>
                          <div class="btn-group">
                              <a href="/object/edit/{{id}}" class="btn btn-warning p-2">
                              <i class="fa-solid fa-pencil"></i></a>
                              <a href="/object/delete/{{id}}" class="btn btn-danger p-2">
                              <i class="fa-solid fa-trash"></i></a>
                          </div>
                      </td>
                  </tr>
              {{/each}}
          </tbody>
      </table>
    </div>
  {{else}}
    <h2>No objects in the data base</h2>
    <a href="#">Create new Object</a>
  {{/if}}
</div>