<div class="">
  <h1>Fields of Object {{objectName}}</h1>
  {{#if fields}}
    <div class="mb-3 mt-3">
        <a href="/field/add/{{objectId}}" class="btn btn-info">Create new Field</a>
    </div>
    <div>
       <table class="table text-center">
          <thead>
              <tr class="table-dark">
                  <th scope="col" class="col-4">Name</th>
                  <th scope="col">API_Name</th>
                  <th scope="col">type</th>
                  <th scope="col">isRequired</th>
                  <th scope="col">Acciones</th>
              </tr>
          </thead>
          <tbody>
              {{#each fields}}
                  <tr>
                      <td>{{name}}</td>
                      <td>{{API_Name}}</td>
                      <td>{{type}}</td>
                      <td>{{isRequired}}</td>
                      <td>
                          <div class="btn-group">
                              <a href="#" class="btn btn-warning p-2">
                              <i class="fa-solid fa-pencil"></i></a>
                              <a href="#" class="btn btn-danger p-2">
                              <i class="fa-solid fa-trash"></i></a>
                          </div>
                      </td>
                  </tr>
              {{/each}}
          </tbody>
      </table>
    </div>
  {{else}}
    <h2>No fields in the data base</h2>
    <a href="/field/add/{{objectId}}" class="btn btn-info">Create new Field</a>
  {{/if}}
</div>